<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>
<center><b><h1>Yash Kakadiya | 23010101121 | 26-11-24</b></center>
<pre>

### 01) WAP to print “Hello World”

In [ ]:
print('Hello World')

### 02) WAP to print addition of two numbers with and without using input().

In [ ]:
x = 3
y = 4

print("Addition without using input: ", x + y)

x = int(input("Enter a number: "))
y = int(input("Enter another number: "))

print("Addition using input:", x + y)

### 03) WAP to check the type of the variable.

In [ ]:
x = "¥@$#"

print("Type of x:", type(x))

Type of x:  <class 'str'>

### 04) WAP to calculate simple interest.

In [ ]:
p = int(input("Enter principle amount: "))
rate = int(input("Enter rate of interest: "))
time = int(input("Enter time period in years: "))

simple_interest = (p * rate * time) / 100

print("Principle amount:", p)
print("Rate of amount:", rate)
print("Time period:", time, "years")
print("Simple Interest:", simple_interest)
print("Net amount:", simple_interest + p)

Principle amount:  10000
Rate of amount:  10
Time period:  2 years
Simple Interest:  2000.0
Net amount:  12000.0

### 05) WAP to calculate area and perimeter of a circle.

In [ ]:
import math

r = int(input("Enter radius: "))

perimeter = 2 * math.pi * r
area = math.pi * r * r

print("Radius of circle:", r)
print("Perimeter:", perimeter)
print("Area: ", area)

Radius of circle:  100
Perimeter:  628.3185307179587
Area:  31415.926535897932

### 06) WAP to calculate area of a triangle.

In [ ]:
height = int(input("Enter height of triangle: "))
base = int(input("Enter base length of triangle: "))

area = (height * base) / 2

print("Height of triangle:", height)
print("Base length of triangle:", base)
print("Area of triangle:", area)

Height of triangle:  10
Base length of triangle:  5
Area of triangle:  25.0

### 07) WAP to compute quotient and remainder.

In [ ]:
a = int(input("Enter dividend: "))
b = int(input("Enter diviser: "))

quotient = a // b
remainder = a % b

print("Dividend:", a)
print("Divisor:", b)
print("Quotient:", quotient)
print("Remainder:", remainder)

Dividend:  5
Divisor:  2
Quotient:  2
Remainder:  1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [7]:
c = float(input("Enter degree celcius: "))

f = (c * 9 / 5) + 32

print(c, " degree celcius in Fahrenheit:", f)

f = float(input("Enter fahrenheit: "))

c = (f - 32) * 5 / 9

print(f, "fahrenheit in degree Celcius:", c)

0.0  degree celcius in Fahrenheit: 32.0
32.0 fahrenheit in degree Celcius: 0.0

### 09) WAP to find the distance between two points in 2-D space.

In [ ]:
x1=int(input("Enter x1: "));
y1=int(input("Enter y1: "));

x2=int(input("Enter x2: "));
y2=int(input("Enter y2: "));

distance= math.sqrt(((x2-x1)**2 + (y2-y1)**2))

print('Distance between (',x1,',',y1,') and (',x2,',',y2,') is ', distance, 'units')

Distance between ( 10 , 10 ) and ( 0 , 10 ) is  10.0 units

### 10) WAP to print sum of n natural numbers.

In [9]:
n = int(input("Enter n for sum: "))

sum = (n * (n + 1)) / 2

print("Sum of first", n, "natural numbers is", sum)

Sum of first 10 natural numbers is 55.0

### 11) WAP to print sum of square of n natural numbers.

In [12]:
n = int(input("Enter n for sum of square: "))

sum = n * (n + 1) * (2 * n + 1) / 6

print("Sum of square first", n, "natural numbers is", sum)

Sum of square first 5 natural numbers is 55.0

### 12) WAP to concate the first and last name of the student.

In [13]:
fname=input("Enter first name: ")
lname=input("Enter last name: ")

print("Full name:", fname + " " + lname)

Full name: yash kakadiya

### 13) WAP to swap two numbers.

In [14]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))

print("Before swapping:")
print("First number:", a)
print("Second number:", b)

a, b = b, a

print("After swapping:")
print("First number:", a)
print("Second number:", b)

Before swapping:
First number: 1
Second number: 2
After swapping:
First number: 2
Second number: 1

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [16]:
km = int(input("Enter distance in kilometers: "))

m = km * 1000
cm = m * 100
inches = cm / 2.54
feet = inches / 12

print(km, "km =", m, "m =", cm, "cm =", inches, "inches =", feet, "feets")

1 km = 1000 m = 100000 cm = 39370.07874015748 inches = 3280.839895013123 feets

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [ ]:
day = int(input("Enter day: "))
month = int(input("Enter month: "))
year = int(input("Enter year: "))

print(day, month, year, sep="-")

1-12-2005