<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 1</b></center>
<center><b><h1>¥@$# Kakadiya | 23010101121 | 26-11-24</b></center>
<pre>

### 01) WAP to print “Hello World”

In [ ]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [2]:
x = 3
y = 4
4
print("Addition without using input: ", (x + y))

x = int(input("Enter a number: "))
y = int(input("Enter another number: "))

print("Addition using input:", (x + y))

Addition without using input:  7
Addition using input: 7

### 03) WAP to check the type of the variable.

In [3]:
x = "¥@$#"

print("Type of x:", type(x))

Type of x: <class 'str'>

### 04) WAP to calculate simple interest.

In [ ]:
p = int(input("Enter principle amount: "))
rate = int(input("Enter rate of interest: "))
time = int(input("Enter time period in years: "))

simple_interest = (p * rate * time) / 100

print("-" * 50)
print("Principle amount:", p)
print("Rate of amount:", rate)
print("Time period:", time, "years")
print("-" * 50)
print("Simple Interest:", simple_interest)
print("Net amount:", simple_interest + p)

--------------------------------------------------
Principle amount: 100000
Rate of amount: 7
Time period: 5 years
--------------------------------------------------
Simple Interest: 35000.0
Net amount: 135000.0

### 05) WAP to calculate area and perimeter of a circle.

In [ ]:
import math

r = int(input("Enter radius: "))

perimeter = 2 * math.pi * r
area = math.pi * r * r

print("-" * 50)
print("Radius of circle:", r)
print("Perimeter:", perimeter)
print("Area: ", area)

--------------------------------------------------
Radius of circle: 10
Perimeter: 62.83185307179586
Area:  314.1592653589793

### 06) WAP to calculate area of a triangle.

In [ ]:
height = int(input("Enter height of triangle: "))
base = int(input("Enter base length of triangle: "))

area = (height * base) / 2

print("-" * 50)
print("Height of triangle:", height)
print("Base length of triangle:", base)
print("Area of triangle:", area)

--------------------------------------------------
Height of triangle: 10
Base length of triangle: 5
Area of triangle: 25.0

### 07) WAP to compute quotient and remainder.

In [ ]:
a = int(input("Enter value of a(dividend) for a/b: "))
b = int(input("Enter value of b(divisor) for a/b: : "))

quotient = a // b
remainder = a % b

print("-" * 50)
print("Dividend:", a)
print("Divisor:", b)
print("Quotient:", quotient)
print("Remainder:", remainder)

--------------------------------------------------
Dividend: 10
Divisor: 3
Quotient: 3
Remainder: 1

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [ ]:
c = float(input("Enter degree celcius: "))
print("-" * 50)

f = (c * 9 / 5) + 32

print(c, " degree celcius in Fahrenheit:", f)
print("-" * 50)

f = float(input("Enter fahrenheit: "))
print("-" * 50)

c = (f - 32) * 5 / 9

print(f, "fahrenheit in degree Celcius:", c)

--------------------------------------------------
100.0  degree celcius in Fahrenheit: 212.0
--------------------------------------------------
--------------------------------------------------
212.0 fahrenheit in degree Celcius: 100.0

### 09) WAP to find the distance between two points in 2-D space.

In [ ]:
x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
print("-" * 50)

x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))
print("-" * 50)

distance = math.sqrt(((x2 - x1) ** 2 + (y2 - y1) ** 2))

print(
    "Distance between (",
    x1,
    ",",
    y1,
    ") and (",
    x2,
    ",",
    y2,
    ") is ",
    distance,
    "units",
)

--------------------------------------------------
--------------------------------------------------
Distance between ( 0 , 0 ) and ( 5 , 5 ) is  7.0710678118654755 units

### 10) WAP to print sum of n natural numbers.

In [ ]:
n = int(input("Enter n for sum: "))
print("-" * 50)

sum = (n * (n + 1)) / 2

print("Sum of first", n, "natural numbers is", sum)
print("-" * 50)

--------------------------------------------------
Sum of first 10 natural numbers is 55.0
--------------------------------------------------

### 11) WAP to print sum of square of n natural numbers.

In [11]:
n = int(input("Enter n for sum of square: "))

sum = n * (n + 1) * (2 * n + 1) / 6

print("Sum of square first", n, "natural numbers is", sum)

Sum of square first 5 natural numbers is 55.0

### 12) WAP to concate the first and last name of the student.

In [ ]:
fname = input("Enter first name: ")
lname = input("Enter last name: ")
print("-" * 50)

print("Full name:", fname + " " + lname)

--------------------------------------------------
Full name: Yash Kakadiya

### 13) WAP to swap two numbers.

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter another number: "))
print("-" * 50)

print("Before swapping:")
print("First number:", a)
print("Second number:", b)
print("-" * 50)

a, b = b, a

print("After swapping:")
print("First number:", a)
print("Second number:", b)
print("-" * 50)

--------------------------------------------------
Before swapping:
First number: 3
Second number: 7
--------------------------------------------------
After swapping:
First number: 7
Second number: 3
--------------------------------------------------

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [ ]:
km = int(input("Enter distance in kilometers: "))
print("-" * 50)

m = km * 1000
cm = m * 100
inches = cm / 2.54
feet = inches / 12

print(km, "km =", m, "m =", cm, "cm =", inches, "inches =", feet, "feets")

--------------------------------------------------
1 km = 1000 m = 100000 cm = 39370.07874015748 inches = 3280.839895013123 feets

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [ ]:
day = int(input("Enter day: "))
month = int(input("Enter month: "))
year = int(input("Enter year: "))
print("-" * 50)

print(day, month, year, sep="-")

--------------------------------------------------
1-12-2005